
html,
body,
#react-root, #map {
    margin: 0;
    padding: 0;
    height: 100%;
}

#react-root {
    display: flex;
    flex-direction: column;
}
#react-root > *:not(:last-child) {
    margin-bottom: 5px;
}
h3 {
    margin: 0;
}
button {
    width: fit-content;
    width: -moz-fit-content;
}
